    .slot {
    border-radius: 10px;
  }
  
  .slot[data-swapy-highlighted] {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ccc8fd;
    width: 100%;
  }
  
  /* .item-2 {
    height: 50px;
  } */
  
  .item:has(.handle) {
    position: relative;
  }
  
  
  .item.item--add {
    background: transparent;
    border: 4px solid #4338ca;
    cursor: pointer;
    user-select: none;
  }
  
  .item.item--add:hover {
    background: #4338cacc;
  }
  
  .delete {
    background-color: #aea8f8;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-image: url(./delete.svg);
    background-size: 22px 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    animation: ease-in;
  }
  
  .delete:hover {
    background-color: #928be2;
    
  }

  .custom {
    background-color: #4338ca;
  }
  
  /* .item[data-swapy-dragging] {
    opacity: 0.8;
  } */
  