@import "tailwindcss";

*{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #8d8d8da6 transparent;
}
::-webkit-scrollbar-button{
    display: none;
    height: 0;
    width: 0;
}

.fixedScrollbar{
    scrollbar-gutter: "stable";
}
.custom-scroll .scrollbar-thumb {
  background-color: #000000df;
}
.custom-scroll .scrollbar-track {
  background-color: transparent;
}
[contenteditable] a {
  pointer-events: auto;
  text-decoration: underline;
  color: #3b82f6; /* Tailwind blue-500 */
}